# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Other
*.iml
